/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2016, 10:32:28
    Author     : JonasJr
*/
#cabecalho{
    border: solid red;
    float: top;
}
#menu{
    border: solid black;
    float: left;
    
}
#corpo{
   border: solid yellow;
   float: left;
}
#rodape{
    border: solid blue;
    float: end;
}